{% block heading %}
{% endblock %}
{% block body %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register - MagtimusPro</title>
    
    
    <link rel="stylesheet" href="static/css/estilos.css">

    <script>
        function Comparar(email,pswr) {
        var elemento=0
        var registrados = [
            ["fabrizio.riguetti","123456789"],
            ["Italo.Cancha@ucsp.edu.pe","1234678"],
            ["Samir.carrera@ucsp.edu.pe","1234567"]
        ];
            if(registrados[0][0]==email && registrados[0][1]==pswd){
                elemento=1
                alert("ENTRANDO")
                return 0
            } 
            if(registrados[1][0]==email && registrados[1][1]==pswd){
                elemento=1
                alert("ENTRANDO")
                return 0
            }
            if(registrados[2][0]==email && registrados[2][1]==pswd){
                elemento=1
                alert("ENTRANDO")
                return 0
            }
            if(elemento==0){
                alert("Verifique si los datos colocados son correctos")
                return 0
            }

        }
    </script>
</head>
<body>
    
        <main>

            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>

                <div class="contenedor__login-register">

                    <form action="" class="formulario__login">
                        <h2>Iniciar Sesión</h2>
                        <input type="text" id="email" name="email" placeholder="Correo Electronico">
                        <input type="password" id="pswr" name="pswr" placeholder="Contraseña">
                        <input type="submit" id="send-signup" name="signup" value="Entrar" onclick="Comparar()">
                        
                    </form>
                    

                    <form action="" class="formulario__register">
                        <h2>Regístrarse</h2>
                        <br>
                        <center><h3>**Aun en proceso**</h3></center>
                        <button>Registrarse</button>
                    </form>
                </div>
            </div>

        </main>

        <script src="static/js/script.js"></script>
</body>
</html>

{% endblock %}